USE [master]
GO
/****** Object:  Database [Countries]    Script Date: 11.07.2022 2:07:37 ******/
CREATE DATABASE [Countries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Countries', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Countries.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Countries_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Countries_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Countries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Countries]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 11.07.2022 2:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[Id] [nvarchar](250) NULL,
	[Country] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Materic] [nvarchar](250) NULL,
	[Capital] [nvarchar](250) NULL,
	[Area] [decimal](38, 0) NULL,
	[Population] [decimal](38, 0) NULL,
	[Population_density] [decimal](38, 0) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[countries] ([Id], [Country], [Type], [Materic], [Capital], [Area], [Population], [Population_density]) VALUES (N'1', N'Абхазия', N'Частично признанное государство', N'Евразия', N'Сухуми', CAST(8665 AS Decimal(38, 0)), CAST(243564 AS Decimal(38, 0)), CAST(28 AS Decimal(38, 0)))
INSERT [dbo].[countries] ([Id], [Country], [Type], [Materic], [Capital], [Area], [Population], [Population_density]) VALUES (N'2', N'Австралия', N'Государство', N'Австралия', N'Канберра', CAST(7692024 AS Decimal(38, 0)), CAST(24067700 AS Decimal(38, 0)), CAST(3 AS Decimal(38, 0)))
INSERT [dbo].[countries] ([Id], [Country], [Type], [Materic], [Capital], [Area], [Population], [Population_density]) VALUES (N'3', N'Австрия', N'Государство', N'Евразия', N'Вена', CAST(83879 AS Decimal(38, 0)), CAST(8711770 AS Decimal(38, 0)), CAST(102 AS Decimal(38, 0)))
GO
USE [master]
GO
